
:root{
    font-family:'Roboto', sans-serif; 
}
$titleFont:'Roboto Slab', serif;
$blueColor:#0271bc;
$orangeColor:#f26002;
$whiteColor:#ffffff;
$footerBackground:#304268;
$colorTextP:#4a4a4a;
$colorTextHero:rgba(0, 0, 0, 0.2);
$colorTextBlue:#8ccbea;
$colorTextDark:#000000;









