$titleFont: "Roboto Slab", serif;
$blueColor: #0271bc;
$orangeColor: #f26002;
$whiteColor: #ffffff;
$footerBg: #304268;
$colorTextP: #4a4a4a;
$textShadowHero: 0 2px 5px rgba(0, 0, 0, 0.5);
$colorTextBlue: #8ccbea;
$colorTextDark: #000000;
$sectionThreeBg: #eff9ff;
