.footer {
  background-color: $footerBg;
  height: 465px;
  position: relative;
  @media all and (min-width: 768px) {
    height: 240px;
  }

  &__container {
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $whiteColor;
    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &--arrow {
      background-color: $whiteColor;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      position: absolute;
      top: -22.5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

      @media all and (min-width: 768px) {
        margin: auto;
        left: 0;
        right: 0;
      }
    }

    &--navSections {
      margin: 65px 0px 30px 0px;
      text-align: center;
      @media all and (min-width: 768px) {
        text-align: start;
        order: 1;
        margin: 50px 0px 40px 0px;
        width: 210px;
      }
      @media all and (min-width: 1280px) {
        width: 161px;
      }
    }
    &--navSocial {
      text-align: center;
      margin-bottom: 32px;
      @media all and (min-width: 768px) {
        text-align: start;
        order: 2;
        margin: 50px 39px 40px 0px;
        width: 210px;
      }
      @media all and (min-width: 1280px) {
        width: 159px;
        margin: 50px 370px 40px 0px;
      }
    }
    &--box {
      @media all and (min-width: 768px) {
        margin: 50px 0px 40px 39px;
        width: 210px;
      }
      @media all and (min-width: 1280px) {
        width: 159px;
        margin: 50px 0px 40px 370px;
      }
      &--text {
        font-size: 14px;
        line-height: 30px;
        font-weight: 300;
        text-align: center;
        @media all and (min-width: 768px) {
          text-align: start;
          order: 0;
        }
      }
    }
  }
}
.nav-link {
  color: $whiteColor;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 300;
}
