// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'pages/index';*/

@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/footer";

:root {
  font-family: "Roboto", sans-serif;
}
.body {
  min-height: 100vh;
}

.hero {
  background-image: url(../images/cover.jpeg);
  background-position: center;
  height: 543px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $whiteColor;
  &__title {
    font-family: $titleFont;
    font-size: 2.62rem;
    line-height: 3.44rem;
    text-transform: uppercase;
    text-shadow: $textShadowHero;
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 50px;
  }
  &__icon {
    background-color: $whiteColor;
    margin-bottom: 50px;
    width: 38px;
    height: 37px;
    border-radius: 50%;
  }
}

.sectionTwo {
  background-color: $whiteColor;
  display: flex;
  flex-direction: column;
  &__blueText {
    color: $colorTextBlue;
    font-size: 14px;
    margin-top: 62px;
    line-height: 30px;
  }
  &__title {
    font-family: $titleFont;
    font-size: 24px;
  }
}
