// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'pages/index';*/

@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/footer";

:root {
  font-family: "Roboto", sans-serif;
}
.body {
  min-height: 100vh;
}

.hero {
  background-image: url(../images/cover.jpeg);
  background-position: center;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $whiteColor;

  &__title {
    font-family: $titleFont;
    font-size: 2.62rem;
    line-height: 3.44rem;
    text-transform: uppercase;
    text-shadow: $textShadowHero;
    margin: 300px 0px 10px 0px;
    @media all and (min-width: 768px) {
      font-size: 80px;
      line-height: 106px;
      margin: 384px 0px 24px 0px;
    }
    @media all and (min-width: 1280px) {
      font-size: 100px;
      line-height: 132px;
      word-spacing: 100vw;
      margin-top: 384px;
    }
  }

  &__text {
    margin-bottom: 35px;
    @media all and (min-width: 768px) {
      font-size: 24px;
      line-height: 28px;
      max-width: 340px;
      margin-bottom: 0px;
    }
    @media all and (min-width: 1280px) {
      max-width: 730px;
      margin-bottom: 34px;
    }
  }
  &__icon {
    background-color: $whiteColor;
    margin-bottom: 34px;
    width: 38px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media all and (min-width: 768px) {
      margin-bottom: 45px;
      width: 42.5px;
      height: 45px;
    }
    @media all and (min-width: 1280px) {
      margin-bottom: 13px;
      width: 45px;
      height: 45px;
    }
  }
}

.sectionTwo {
  background-color: $whiteColor;
  height: 400px;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 62px 15px 45px 15px;
    @media all and (min-width: 768px) {
      margin: 37px 39px 0px 39px;
    }
    @media all and (min-width: 1280px) {
      margin: 65px 275px 0px 275px;
    }
    &--blueText {
      color: $colorTextBlue;
      font-size: 14px;
      line-height: 30px;
      text-transform: capitalize;
    }
    &--title {
      font-family: $titleFont;
      font-size: 24px;
      margin-bottom: 20px;
      text-transform: capitalize;
      @media all and (min-width: 768px) {
        font-size: 26px;
        margin-bottom: 27px;
      }
      @media all and (min-width: 1280px) {
        font-size: 32px;
        margin-bottom: 32px;
      }
    }
    &--text {
      color: $colorTextP;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 26px;
      @media all and (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 27px;
      }
    }
    &--button {
      color: $orangeColor;
      background-color: $whiteColor;
      border: solid 2px $orangeColor;
      border-radius: 22.5px;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 25px;
      width: 76px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media all and (min-width: 768px) {
        width: 91px;
      }
      @media all and (min-width: 1280px) {
        width: 160px;
      }
    }
  }
}
.sectionThree {
  background-color: $sectionThreeBg;
  height: 624px;

  &__container {
    margin: 0px 15px;
    text-align: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 30px 93px 93px 93px 45px;
    place-items: center;
    row-gap: 44px;
    &--title {
      margin-top: 29px;
      font-family: $titleFont;
      font-size: 24px;
      line-height: 30px;
      text-transform: capitalize;
    }
    &--bold {
      font-family: $titleFont;
      line-height: 30px;
      width: 180px;
      justify-items: center;
    }
    &--text {
      font-size: 18px;
      line-height: 30px;
      width: 180px;
      justify-items: center;
    }
    &--button {
      color: $whiteColor;
      background-color: $orangeColor;
      border-radius: 22.5px;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 184px;
      height: 45px;
      border: none;
      justify-items: center;
    }
  }
}
